<p id="notice"><%= notice %></p>

<h1>Blocks</h1>

<ul class="list-group">
  <% @blocks.each do |block| %>
    <a href="<%= block_path(block) %>" class="list-group-item list-group-item-action flex-column align-items-start">
      <h3><%= block.title %></h3>
      <p><%= block.body.truncate(100) %></p>
    </a>  
  <% end %>
</ul>

<br>

<%= link_to 'New Block', new_block_path %>
