<!DOCTYPE html>
<html>
  <head>
    <title>Spiegami</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-88812759-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-88812759-2');
    </script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <%= yield :outer_container %>
    <div class="container">
      <%= render 'layouts/notice' %>
      <%= yield %>
    </div>
    <%= yield :bottom_container %>
    <%= render 'layouts/footer' %>
  </body>
</html>
